%fieldset
  - form_for(@user) do |f|
    = f.error_messages

    %p
      = f.label :username, t('activerecord.attributes.user.username')
      = f.text_field :username
    %p
      = f.label :password, t('activerecord.attributes.user.password')
      = f.password_field :password
    %p
      = f.label :password_confirmation, t('activerecord.attributes.user.password_confirmation')
      = f.password_field :password_confirmation
    %p
      = f.submit t(:v_edit), :class => 'formbutton'

= link_to t(:v_back), root_path
