<fieldset>
  <% form_for(@user) do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :username, t('activerecord.attributes.user.username') %><br />
      <%= f.text_field :username %>
    </p>
    <p>
    <p>
      <%= f.label :password, t('activerecord.attributes.user.password') %><br />
      <%= f.password_field :password %>
    </p>
      <%= f.label :password_confirmation, t('activerecord.attributes.user.password_confirmation') %><br />
      <%= f.password_field :password_confirmation %>
    </p>
    <p>
      <%= f.submit t(:v_edit), :class => 'formbutton' %>
    </p>
  <% end %>
</fieldset>

<%= link_to t(:v_back), root_path %>
