- content_for :head do
  :javascript
    $(document).ready(function() {
      initTinyMCE('#{I18n.locale}');
    });

= form_for(@publisher) do |f|
  = render partial: '/error_messages', locals: { e: @publisher.errors }

  .field
    = f.label :name, t('activerecord.attributes.publisher.name')
    = f.text_field :name, class: 'form-full-width'
  .field
    = f.label :description, t('activerecord.attributes.publisher.description')
    = f.text_area :description, class: 'form-full-width'
  = f.submit button_label, class: 'button'
