- @publishers.each do |publisher|
  %h3
    = link_to h(publisher.name), publisher
  %p
    Dodano #{l publisher.created_at}
  - if current_user
    %p
      = link_to t(:v_edit), edit_publisher_path(publisher), :class => :important
      = link_to t(:v_delete), publisher, :method => :delete, :confirm => t(:v_delete_confirmation), :class => :important
#pagination
  = will_paginate @publishers, link_separator: ' &nbsp; '
