%h3.postcard-heading
  = h @publisher.name

= content_tag 'p', raw(@publisher.description) if @publisher.description
- if current_user
  = link_to t(:v_edit), edit_publisher_path(@publisher), :class => 'important'
  = link_to t(:v_delete), @publisher, :method => :delete, :confirm => t(:v_delete_confirmation), :class => 'important'

#bottom-navigation
  = link_to 'Lista wydawców', publishers_path
