- content_for :head do
  :javascript
    jQuery(document).ready(function() {
      Shadowbox.init();
    });

%h3.postcard-heading
  = h @publisher.name

= content_tag 'p', raw(@publisher.description) if @publisher.description

- if @publisher.postcards.any?
  %h4 Widokówki
  - @publisher.postcards.each do |postcard|
    = render partial: '/gallery_shadowbox', locals: { postcard: postcard, gallery_name: 'common' }

#bottom-navigation
  - if current_user
    = link_to 'Edytuj wydawcę', edit_publisher_path(@publisher), :class => 'important'
    = link_to 'Usuń wydawcę', @publisher, :method => :delete, :confirm => t(:v_delete_confirmation), :class => 'important'
  = link_to 'Lista wydawców', publishers_path
