- content_for :head do
  :javascript
    $(document).ready(function() {
      Shadowbox.init();
      initTinyMCE('#{I18n.locale}');
    });

= form_for(@postcard_set, :html => { :multipart => true }) do |f|
  = render partial: '/error_messages', locals: { e: @postcard_set.errors }
  .field
    = f.label :title, t('activerecord.attributes.postcard_set.title')
    = f.text_field :title, rows: 20, class: 'form-full-width'
  .field
    = f.label :description, t('activerecord.attributes.postcard_set.description')
    = f.text_area :description, rows: 20, class: 'form-full-width'
  .field
    = f.label :show_abverse, "#{t('activerecord.attributes.postcard_set.show_abverse')}?"
    .postcard-set-images
      = f.radio_button :show_abverse, true
      - @postcard_set.postcard_set_elements.each do |element|
        = render partial: '/gallery_shadowbox', locals: { postcard: element.postcard, gallery_name: 'postcards', image_parameters: { class: 'small-thumbnail' } }
    .postcard-set-images
      = f.radio_button :show_abverse, false
      - @postcard_set.postcard_set_elements.each do |element|
        = render partial: '/gallery_shadowbox', locals: { abverse: false, postcard: element.postcard, gallery_name: 'postcards', image_parameters: { class: 'small-thumbnail' } }
  .field.clear
    = f.fields_for :postcard_set_elements do |builder|
      = builder.hidden_field :id
      = builder.hidden_field :postcard_id
      = builder.hidden_field :order_number
  = f.submit button_label, :class => 'button'
