- content_for :head do
  :javascript 
    $(document).ready(function() {
      Shadowbox.init();
      initTinyMCE('#{I18n.locale}');
    });

= form_for(@postcard_set, :html => { :multipart => true }) do |f|
  = render partial: '/error_messages', locals: { e: @postcard_set.errors }
  .field
    = f.label :description, t('activerecord.attributes.postcard.description')
    = f.text_area :description, rows: 20, class: 'form-full-width'
  .field
    = f.label :show_abverse, 'Pokazywać awers czy rewers?'
    %div{style: 'margin-left: 180px'}                                                                                                      
      %div
        = f.radio_button :show_abverse, true
        = f.fields_for :postcard_set_elements do |builder|
          = render partial: '/gallery_shadowbox', locals: { postcard: builder.object.postcard, gallery_name: 'postcards', image_parameters: { class: 'small-thumbnail' } }
      %div
        = f.radio_button :show_abverse, false
        = f.fields_for :postcard_set_elements do |builder|
          = render partial: '/gallery_shadowbox', locals: { abverse: false, postcard: builder.object.postcard, gallery_name: 'postcards', image_parameters: { class: 'small-thumbnail' } }
  .field
    = f.fields_for :postcard_set_elements do |builder|
      = builder.hidden_field :postcard_id
      = builder.hidden_field :order_number

    = f.label :postcard_set_elements, 'Widokówki'
  = f.submit button_label, :class => 'button'
