- @postcard_sets.each do |set|
  - set.postcards.each do |postcard|
    = render partial: '/gallery_shadowbox', locals: { postcard: postcard }
  = link_to 'Pokaż zestaw', set
  - if current_user
    %p
      = link_to t(:v_edit), edit_postcard_set_path(set), class: :important
      = link_to t(:v_delete), set, method: :delete, confirm: t(:v_delete_confirmation), class: :important

#pagination
  = will_paginate @postcard_sets, link_separator: ' &nbsp; '
