- content_for :head do
  :javascript
    $(document).ready(function() {
      Shadowbox.init();
    });

- @postcard_sets.each do |set|
  .postcard-set
    %h3= link_to 'Tytuł', set
    %span.date-added
      = date_added(set.created_at)
    - if current_user
      %p
        = link_to t(:v_edit), edit_postcard_set_path(set), class: :important
        = link_to t(:v_delete), set, method: :delete, confirm: t(:v_delete_confirmation), class: :important
    .images
      - set.postcards.each do |postcard|
        = render partial: '/gallery_shadowbox', locals: { abverse: set.show_abverse, postcard: postcard, gallery_name: "gallery-#{set.id}" }
  .clear
  %hr

#pagination
  = will_paginate @postcard_sets, link_separator: ' &nbsp; '
