<% content_for :head do %>
  <%= javascript_include_tag 'tiny_mce/tiny_mce', :cache => true %>
  <%= javascript_include_tag 'http://maps.google.com/maps?file=api&v=2&key=ABQIAAAAkgCxzvIpiJvYgOSyqIcUrBTWWMYKP7J82jUjllpaxquYJgrbrBQ5wBmh8LFqk2w_zzmkps4hMATjdw&hl=pl' %>
  <script type="text/javascript">
    $(document).ready(function() {
      <%= draw_google_map @postcard, true %>

      tinyMCE.init({
        mode: 'textareas',
        language: 'pl'
      });

      jQuery('#checkbox-map').change(function() {
        jQuery('#map').toggle('slow');
      });

      jQuery('#map').hide();
    });
  </script>
<% end %>

<fieldset>
  <% form_for(@postcard, :html => { :multipart => true }) do |f| %>
    <% unless f.error_messages.empty? %>
      <%= f.error_messages %>
    <% end %>
    <p>
      <%= f.label :name, t(:v_postcards_name) %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :description, t(:v_postcards_description) %>
      <%= f.text_area :description, :cols => 64, :rows => 20 %>
    </p>
    <p>
      <%= f.label :is_horizontal, t(:v_postcards_orientation) %>
      <%= f.check_box :is_horizontal %>
    </p>
    <p>
      <%= f.label :year, t(:v_postcards_year) %>
      <%= f.text_field :year %>
    </p>
    <% f.fields_for :images do |builder| %>
      <%= render :partial => 'image_fields', :locals => { :f => builder, :editable => editable } %>
    <% end %>
    <p>
      <%= link_to_add_image_fields  f, { :name => t(:v_postcards_add_image), :editable => false } %>
    </p>
    <p>
      <%= f.label :tag_list, t(:v_postcards_tags) %>
      <%= f.text_field :tag_list %>
    </p>
    <p>
      <%= f.label :longitude, t(:v_postcards_map) %>
      <input type="checkbox" id="checkbox-map"><%= t :v_postcards_show_map %></input>
      <div id="map"></div>
      <%= f.hidden_field :latitude, :id => 'latitude' %> 
      <%= f.hidden_field :longitude, :id => 'longitude' %> 
    </p>
    <p>
      <%= f.submit button_label, :class => 'formbutton' %>
    </p>
  <% end %>
</fieldset>
