<% content_for :head do %>
  <%= javascript_include_tag 'tiny_mce/tiny_mce', :cache => true %>
  <%= javascript_include_tag 'http://maps.google.com/maps?file=api&v=2&key=ABQIAAAAkgCxzvIpiJvYgOSyqIcUrBTWWMYKP7J82jUjllpaxquYJgrbrBQ5wBmh8LFqk2w_zzmkps4hMATjdw&hl=pl' %>
  <script type="text/javascript">
    $(document).ready(function() {
      <%= draw_google_map @postcard, true %>

      tinyMCE.init({
        mode: 'textareas',
        language: '<%= I18n.locale %>'
      });
    });
  </script>
<% end %>

<fieldset>
  <% form_for(@postcard, :html => { :multipart => true }) do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.label :name, t('activerecord.attributes.postcard.name') %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :description, t('activerecord.attributes.postcard.description') %>
      <%= f.text_area :description, :cols => 64, :rows => 20 %>
    </p>
    <p>
      <%= f.label :is_horizontal, t('activerecord.attributes.postcard.is_horizontal') %>
      <%= f.check_box :is_horizontal %>
    </p>
    <p>
      <%= f.label :year, t('activerecord.attributes.postcard.year') %>
      <%= f.text_field :year %>
    </p>
    <p>
      <%= f.label :publisher_id, t('activerecord.attributes.postcard.publisher_id') %>
      <%= f.select :publisher_id, @publishers, :include_blank => true %>
    </p>
    <% f.fields_for :images do |builder| %>
      <%= render :partial => 'image_fields', :locals => { :f => builder, :editable => editable } %>
    <% end %>
    <p>
      <%= link_to_add_image_fields  f, { :name => t(:v_postcards_add_image), :editable => false } %>
    </p>
    <p>
      <%= f.label :tag_list, t('activerecord.attributes.postcard.tags') %>
      <%= f.text_field :tag_list %>
    </p>
    <p>
      <%= f.label :longitude, t(:v_postcards_map) %>
      <div id="map"></div>
      <%= f.hidden_field :latitude, :id => 'latitude' %> 
      <%= f.hidden_field :longitude, :id => 'longitude' %> 
    </p>
    <p>
      <%= f.submit button_label, :class => 'formbutton' %>
    </p>
  <% end %>
</fieldset>
