- content_for :head do
  = javascript_include_tag 'tiny_mce/tiny_mce'
  = javascript_include_tag 'http://maps.google.com/maps?file=api&v=2&key=ABQIAAAAkgCxzvIpiJvYgOSyqIcUrBTWWMYKP7J82jUjllpaxquYJgrbrBQ5wBmh8LFqk2w_zzmkps4hMATjdw&hl=pl'
  :javascript 
    $(document).ready(function() {
      Shadowbox.init();
      #{draw_google_map @postcard, true}

      tinyMCE.init({
        mode: 'textareas',
        language: '#{I18n.locale}'
      });
    });

= form_for(@postcard, :html => { :multipart => true }) do |f|
  - if @postcard.errors.any? 
    %ul
      - @postcard.errors.full_messages.each do |e|
        %li= e
  .field
    = f.label :name, t('activerecord.attributes.postcard.name')
    = f.text_field :name, class: 'form-full-width'
  .field
    = f.label :description, t('activerecord.attributes.postcard.description')
    = f.text_area :description, rows: 20, class: 'form-full-width'
  .field
    = f.label :is_horizontal, t('activerecord.attributes.postcard.is_horizontal')
    = f.check_box :is_horizontal
  .field
    = f.label :year, t('activerecord.attributes.postcard.year')
    = f.text_field :year, class: 'form-full-width'
  .field
    = f.label :publisher_id, t('activerecord.attributes.postcard.publisher_id')
    = f.select :publisher_id, @publishers, include_blank: true, class: 'form-full-width'
  .field
    = f.fields_for :images do |builder|
      = render :partial => 'image_fields', locals: { f: builder, editable: editable }
    = link_to_add_image_fields  f, {name: 'Dodaj kolejne zdjęcie', editable: true }
  .field
    = f.label :tag_list, t('activerecord.attributes.postcard.tags')
    = f.text_field :tag_list, class: 'form-full-width'
  .field
    = f.label :longitude, 'Miejsce na mapie'
    #map
    = f.hidden_field :latitude, :id => 'latitude'
    = f.hidden_field :longitude, :id => 'longitude'
  = f.submit button_label, :class => 'button'
