<% content_for :head do %>
  <%= javascript_include_tag 'tiny_mce/tiny_mce', :cache => true %>
  <%= javascript_include_tag 'http://maps.google.com/maps?file=api&v=2&key=ABQIAAAAkgCxzvIpiJvYgOSyqIcUrBTWWMYKP7J82jUjllpaxquYJgrbrBQ5wBmh8LFqk2w_zzmkps4hMATjdw&hl=pl' %>
  <script type="text/javascript">
    $(document).ready(function() {
      <%= draw_google_map @postcard, true %>

      tinyMCE.init({
        mode: 'textareas',
        language: 'pl'
      });

      jQuery('#checkbox-map').change(function() {
        jQuery('#map').toggle('slow');
      });

      jQuery('#map').hide();
    });
  </script>
<% end %>

<fieldset>
  <% form_for(@postcard, :html => { :multipart => true }) do |f| %>
    <p>
      <%= f.label :name, 'Nazwa' %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :description, 'Opis' %>
      <%= f.text_area :description, :cols => 64, :rows => 20 %>
    </p>
    <p>
      <%= f.label :is_horizontal, 'Czy pozioma' %>
      <%= f.check_box :is_horizontal %>
    </p>
    <p>
      <%= f.label :photo_date, 'Data zdjęcia' %>
      <%= f.date_select :photo_date %>
    </p>
    <% f.fields_for :images do |builder| %>
      <%= render :partial => 'image_fields', :locals => { :f => builder, :editable => false } %>
    <% end %>
    <p>
      <%= link_to_add_image_fields "dodaj zdjęcie", f, false %>
    </p>
    <p>
      <%= f.label :longitude, 'Mapa' %>
      <input type="checkbox" id="checkbox-map"> pokaż mapę</input>
      <div id="map"></div>
      <%= f.hidden_field :latitude, :id => 'latitude' %> 
      <%= f.hidden_field :longitude, :id => 'longitude' %> 
    </p>
    <p>
      <%= f.submit 'Dodaj', :class => 'formbutton' %>
    </p>
  <% end %>
</fieldset>
