<% content_for :head do %>
  <%= stylesheet_link_tag 'default', 'shadowbox' %>
  <%= javascript_include_tag 'shadowbox', :cache => true %>
  <%= javascript_include_tag 'http://maps.google.com/maps?file=api&v=2&key=ABQIAAAAkgCxzvIpiJvYgOSyqIcUrBTWWMYKP7J82jUjllpaxquYJgrbrBQ5wBmh8LFqk2w_zzmkps4hMATjdw&hl=pl' %>
  <script type="text/javascript">
    $(document).ready(function() { 
        setUpShadowbox(); 
        <% if p.longitude %>
        drawGoogleMap(<%= p.latitude %>, <%= p.longitude %>);
        <% end %>
        $('#toggleMap').click(function () {
          $('#map').toggle('slow')
        });
        $('#map').hide();
    });
  </script>
<% end %>

<h3 class="postcard-heading"><%=h p.name %></h3>
<table>
  <tbody>
    <tr>
      <td style="width: 20%">Opis</td>
      <td><%= p.description %></td>
    </tr>
    <tr>
      <td>Data widokówki</td>
      <td><%=h p.photo_date %></td>
    </tr>
    <tr>
      <td>Zdjęcia widokówki</td>
      <td>
        <div>
          <% p.images.each do |i| %>
            <% link_to i.image.url(i.normal_style), :class => 'lightbox', :rel => 'shadowbox' do %>
              <%= image_tag i.image.url(i.thumbnail_style) %>
            <% end %>
          <% end %>
        </div>
      </td>
    </tr>
    <% if p.longitude %>
      <tr>
        <td>Położenie</td>
        <td><span class="toggle-link" id="toggleMap">Pokaż\ukryj mapę</span><div id="map"></div>
        </td>
      </tr>
    <% end %>
    <tr>
      <th class="important">Akcja</th> 
      <td>
        <%= link_to 'Edytuj', edit_postcard_path(@postcard) %>
        <%= link_to 'Usuń', @postcard, :method => :delete, :confirm => 'Czy rzeczywiście chcesz to usunąć?' %>
    </tr>
  </tbody>
</table>

</p>

