- content_for :head do
  :javascript
    $(document).ready(function() { 
      Shadowbox.init();
    });
  = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?sensor=false'
  :javascript
    $(document).ready(function() { 
      #{unless p.longitude.blank?
        draw_google_map p, false
      end}
    });

%h3.postcard-heading
  = p.name

= p.description.html_safe

%p
  Widokówka została wydana w #{p.year} roku 
  - if p.publisher
    przez wydawcę #{link_to p.publisher.name, publisher_path(p.publisher)}.

%div
  = render :partial => '/postcards/postcard_lightbox', :locals => { :images => p.images }

- unless p.postcard_sets.empty?
  %h3 Zestawy
  %ul.postcard-sets
    - p.postcard_sets.each do |set|
      %li
        = link_to set.title, set
    
- unless p.longitude.blank?
  #map

- if current_user
  %p
    = link_to t(:v_edit), edit_postcard_path(@postcard), class: 'important'
    = link_to t(:v_delete), @postcard, method: :delete, confirm: t(:v_delete_confirmation), class: 'important'
