<% content_for :head do %>
  <%= stylesheet_link_tag 'default', 'shadowbox' %>
  <%= javascript_include_tag 'shadowbox', :cache => true %>
  <%= javascript_include_tag 'http://maps.google.com/maps?file=api&v=2&key=ABQIAAAAkgCxzvIpiJvYgOSyqIcUrBTWWMYKP7J82jUjllpaxquYJgrbrBQ5wBmh8LFqk2w_zzmkps4hMATjdw&hl=pl' %>
  <script type="text/javascript">
    $(document).ready(function() { 
        setUpShadowbox(); 
        <% unless p.longitude.blank? %>
          <%= draw_google_map p, false %>
        <% end %>
        $('#toggleMap').click(function () {
          $('#map').toggle('slow')
        });
        $('#map').hide();
    });
  </script>
<% end %>

<h3 class="postcard-heading"><%=h p.name %></h3>
<table>
  <tbody>
    <tr>
      <td style="width: 20%"><%= t :v_postcards_description %></td>
      <td><%= p.description %></td>
    </tr>
    <tr>
      <td><%= t :v_postcards_year %></td>
      <td><%=h p.year %></td>
    </tr>
    <tr>
      <td><%= t :v_postcards_photos %></td>
      <td>
        <div>
          <% postcard_images_lightbox(p.images, :class => 'lightbox', :rel => 'shadowbox') %>
        </div>
      </td>
    </tr>
    <% unless p.longitude.blank? %>
      <tr>
        <td><%= t :v_postcards_localization %></td>
        <td><span class="toggle-link" id="toggleMap"><%= t :v_postcards_show_map %></span><div id="map"></div>
        </td>
      </tr>
    <% end %>
    <tr>
      <th class="important" /> 
      <td>
        <%= link_to t(:v_edit), edit_postcard_path(@postcard) %>
        <%= link_to t(:v_delete), @postcard, :method => :delete, :confirm => t(:v_delete_confirmation) %>
    </tr>
  </tbody>
</table>

</p>

