- content_for :head do
  = stylesheet_link_tag 'shadowbox'
  = javascript_include_tag 'shadowbox'
  = javascript_include_tag 'http://maps.google.com/maps?file=api&v=2&key=ABQIAAAAkgCxzvIpiJvYgOSyqIcUrBTWWMYKP7J82jUjllpaxquYJgrbrBQ5wBmh8LFqk2w_zzmkps4hMATjdw&hl=pl'

  :javascript
    Shadowbox.init();
    $(document).ready(function() { 
    - unless p.longitude.blank?
      = draw_google_map p, false
    });

%h3.postcard-heading
  =h p.name

%table
  %tbody
    %tr
      %td{:style => "width: 20%"}= t 'activerecord.attributes.postcard.description'
      %td= p.description
    %tr
      %td= t 'activerecord.attributes.postcard.year'
      %td= h p.year
    %tr
      %td= t 'activerecord.attributes.postcard.tags'
      %td= h p.tags.join(', ')
    - if p.publisher
      %tr
        %td= t 'activerecord.attributes.postcard.publisher_id'
        %td= h p.publisher.name
    %tr
      %td= t 'activerecord.attributes.postcard.images'
      %td
        %div
          - postcard_images_lightbox(p.images, :class => 'lightbox', :rel => 'shadowbox[gallery]')
    - unless p.longitude.blank?
      %tr
        %td{:colspan => "2"}= t :v_postcards_map
      %tr
        %td{:colspan => "2"}
          #map
    - if current_user
      %tr
        %th.important
        %td
          = link_to t(:v_edit), edit_postcard_path(@postcard)
          = link_to t(:v_delete), @postcard, :method => :delete, :confirm => t(:v_delete_confirmation)

