<h1>Editing postcard</h1>


<% form_for(@postcard) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :photo_date %><br />
    <%= f.date_select :photo_date %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @postcard %> |
<%= link_to 'Back', postcards_path %>
