<% @postcards.each do |postcard| %>
  <div class="post">
      <div class="post-bgtop">
          <div class="post-bgbtm">
              <h2 class="title"><%= link_to h(postcard.name), postcard %></h2>
              <p class="byline">
                <%=h postcard.photo_date %>
                <%= link_to 'View more', postcard %>
                <%= link_to 'Edit', edit_postcard_path(postcard) %>
                <%= link_to 'Destroy', postcard, :method => :delete, :confirm => 'Are you sure?' %>
              </p>
              <div class="entry">
                <p>
                  <%=h postcard.description %>
                  <table>
                    <tr>      
                    <% postcard.images.each do |photo| %>
                      <td><%= image_tag photo.image.url(photo.thumbnail_style) %></td>
                    <% end %>
                    </tr>
                  </table>
                </p>
              </div>
              <div class="meta">
                <p>
                </p>
              </div>
          </div>
      </div>
  </div>
<% end %>

<%= link_to 'New postcard', new_postcard_path %>

<%= will_paginate @postcards %>
