- content_for :head do
  :javascript
    $(document).ready(function() {
      Shadowbox.init();
    });
    - if current_user
      $(document).ready(function() {
        populateChecboxesInSet('#{current_set_path}');
        attachPostcardSetsRelatedEvent('#{add_to_set_path}');
      });
  

- @postcards.each_slice(3) do |slice|
  - slice.each do |postcard|
    .postcard
      %h3= link_to postcard.name, postcard
      %span.date-added
        = date_added(postcard.created_at)
      - if current_user
        %p
          = link_to t(:v_edit), edit_postcard_path(postcard), :class => :important
          = link_to t(:v_delete), postcard, :method => :delete, :confirm => t(:v_delete_confirmation), :class => :important
          = check_box_tag "postcard-set-checkbox-#{postcard.id}", postcard.id, false, class: "postcard-set-checkbox"
      %p
        = render partial: '/gallery_shadowbox', locals: { postcard: postcard }
  .clear
  %hr
#pagination
  = will_paginate @postcards, link_separator: ' &nbsp; '
