- content_for :head do
  :javascript
    jQuery(document).ready(function() {
      Shadowbox.init();
    });

- @postcards.each_slice(3) do |slice|
  - slice.each do |postcard|
    .postcard
      %h3= link_to postcard.name, postcard
      %p
        = render partial: '/gallery_shadowbox', locals: { postcard: postcard }
      .date-added
        = date_added(postcard.created_at)
      - if current_user
        %p
          = link_to t(:v_edit), edit_postcard_path(postcard), :class => :important
          = link_to t(:v_delete), postcard, :method => :delete, :confirm => t(:v_delete_confirmation), :class => :important
  .clear
#pagination
  = will_paginate @postcards, link_separator: ' &nbsp; '
