<% content_for :head do %>
  <%= stylesheet_link_tag 'typo', :cache => true %>
<% end %>

<table>
  <tbody>
    <% @postcards.each do |postcard| %>
      <tr>
        <td>
          <%= postcard_abverse_image_tag postcard, :thumbnail, :class => 'image' %>
        </td>
        <td>
          <h3><%= link_to h(postcard.name), postcard %></h3>
          <%= t :v_postcards_was_added %> <%= postcard.created_at %>
          <%= link_to t(:v_edit), edit_postcard_path(postcard) %>
          <%= link_to t(:v_detelte), postcard, :method => :delete, :confirm => t(:v_delete_confirmateion) %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td colspan="2" class="right-align">
        <%= will_paginate @postcards, :next_label => t(:v_next), :previous_label => t(:v_previous) %>
      </td>
    </tr>
  </tbody>
</table>
<div>
</div>
