<% content_for :head do %>
  <%= stylesheet_link_tag 'typo', :cache => true %>
<% end %>

<table>
  <tbody>
    <% @postcards.each do |postcard| %>
      <tr>
        <td>
          <%= postcard_image_tag postcard, :thumbnail, :class => 'image' %>
        </td>
        <td>
          <h3><%= link_to h(postcard.name), postcard %></h3>
          dodano <%= postcard.created_at %>
          <%= link_to 'Edytuj', edit_postcard_path(postcard) %>
          <%= link_to 'Usuń', postcard, :method => :delete, :confirm => 'Czy rzeczywiście chcesz to usunąć?' %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td colspan="2" class="right-align">
        <%= will_paginate @postcards, :next_label => 'Następna >>', :previous_label => '<< Poprzednia' %>
      </td>
    </tr>
  </tbody>
</table>
<div>
</div>
