<% content_for :head do %>
  <script type="text/javascript" language="javascript" charset="utf-8">
    jQuery(document).ready(function() {
        jQuery('#show-search').click(function() {
          jQuery('#search').toggle('slow');
        });
      //jQuery('#search').hide('slow');
    });
  </script>
<% end %>

<span id='show-search'><%= t :v_postcards_show_search %></span>
<fieldset id='search'>
  <% form_tag postcards_path, :method => :get do %>
    <p>
      <%= t :v_postcards_date_from %>
      <%= text_field_tag :date_from, params[:date_from] %>
    </p>
    <p>
      <%= t :v_postcards_date_to %>
      <%= text_field_tag :date_to, params[:date_to] %>
    </p>
    <p>
      <%= t('activerecord.attributes.postcard.publisher_id') %>
      <%= select_tag 'publisher_id', options_for_select([nil] + @publishers, :selected => params[:publisher_id].to_i) %>
    </p>
    <p>
      <%= submit_tag t(:v_search), :class => 'formbutton', :name => nil %>
    </p>
  <% end %>
</fieldset>
<table>
  <tbody>
    <% @postcards.each do |postcard| %>
      <tr>
        <td>
          <%= postcard_abverse_image_tag postcard, :thumbnail, :class => 'image' %>
        </td>
        <td>
          <h3><%= link_to h(postcard.name), postcard %></h3>
          <%= t :v_was_added_at %> <%= postcard.created_at %>
          <% if current_user %>
            <%= link_to t(:v_edit), edit_postcard_path(postcard), :class => :important %>
            <%= link_to t(:v_delete), postcard, :method => :delete, :confirm => t(:v_delete_confirmation), :class => :important %>
          <% end %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td colspan="2" class="right-align">
        <%= will_paginate @postcards, :next_label => t(:v_next), :previous_label => t(:v_previous) %>
      </td>
    </tr>
  </tbody>
</table>
