- content_for :head do
  :javascript
    $(document).ready(function() {
      Shadowbox.init();
    });
  - if current_user
    :javascript
      $(document).ready(function() {
        populateChecboxesInSet('#{current_set_path}');
        attachPostcardSetsRelatedEvent('#{add_to_set_path}');
      });

.pagination
  = will_paginate @postcards, link_separator: ' &nbsp; '
  %hr
- @postcards.each_slice(3) do |slice|
  = render slice
  .clear
  %hr
.pagination
  = will_paginate @postcards, link_separator: ' &nbsp; '
