<h1>New postcard</h1>

<% form_for(@postcard, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :photo_date %><br />
    <%= f.date_select :photo_date %>
  </p>
  <% f.fields_for :images do |builder| %>
    <p>
      <%= builder.select :type_of_image, Image::IMAGE_TYPES %>
      <%= builder.file_field :image %>
    </p>
  <% end %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', postcards_path %>
