<% content_for :head do %>
  <%= stylesheet_link_tag 'default', 'jquery.lightbox-0.5' %>
  <%= javascript_include_tag 'jquery.lightbox-0.5.min', :cache => true %>
<% end %>
<p>
  <b>Name:</b>
  <%=h @postcard.name %>
</p>

<p>
  <b>Description:</b>
  <%= @postcard.description %>
</p>

<p>
  <b>Photo date:</b>
  <%=h @postcard.photo_date %>
</p>


<%= link_to 'Edit', edit_postcard_path(@postcard) %> |
<%= link_to 'Back', postcards_path %>
