= form_for(@user_session) do |f|
  = render partial: '/error_messages', locals: { e: @user_session.errors }
  .field
    = f.label :username, t('authlogic.attributes.user_session.username')
    = f.text_field :username
  .field
    = f.label :password, t('authlogic.attributes.user_session.password')
    = f.password_field :password
  = f.submit 'Zaloguj', class: 'button'
