= form_for(@user_session) do |f|
  - if @user_session.errors.any?
    %ul
      - @user_session.errors.full_messages.each do |e|
        = e
  .field
    = f.label :username, t('authlogic.attributes.user_session.username')
    = f.text_field :username
  .field
    = f.label :password, t('authlogic.attributes.user_session.password')
    = f.password_field :password
  = f.submit 'Zaloguj', class: 'button'
