<fieldset>
  <% form_for(@user_session) do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :username, t('authlogic.attributes.user_session.username') %><br />
      <%= f.text_field :username %>
    </p>
    <p>
      <%= f.label :password, t('authlogic.attributes.user_session.password') %><br />
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.submit t(:v_index_login_action), :class => 'formbutton' %>
    </p>
  <% end %>
</fieldset>

<%= link_to t(:v_back), root_path %>
