<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<htm xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Postcards: <%= controller.action_name %></title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <%= stylesheet_link_tag 'default', 'jquery.lightbox-0.5' %>
  <%= javascript_include_tag 'jquery-1.4.2.min', 'application', :cache => true %>
  <%= yield :head %>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>


</body>
</html>


<body>
<div id="wrapper">
<div id="header">
	<div id="logo">
		<h1><a href="#">Cośtam</a></h1>
		<h2><a href="http://www.freecsstemplates.org/">By Free CSS Templates</a></h2>
	</div>
	<!-- end div#logo -->
	<div id="menu">
		<ul>
			<li class="active"><a href="#">Strona główna</a></li>
			<li><a href="#">Cośtam</a></li>
			<li><a href="#">O mnie</a></li>
			<li><a href="#">Kontakt</a></li>
		</ul>
	</div>
	<!-- end div#menu -->
</div>
<div>
	<div id="page">
		<div id="page-bgtop">
			<div id="content">
                <%= yield %>
			</div>
			<!-- end div#content -->
			<div id="sidebar">
				<div id="sidebar-bgtop">
					<div id="sidebar-bgbtm">
                      <ul>
                        <li>
                          <h2>Login</h2>
                          <form>
                              <input type="text" value="login" /><br />
                              <input type="password" value="password" /><br />
                              <input type="submit" value="Login" />
                          </form>
                          <br />
                        </li>
                        <li>
                          <h2>Admin area</h2>
                          <ul>
                            <li><%= link_to 'New postcard', new_postcard_path %></li>
                            <li><a href="#">Edit profile</a></li>
                          </ul>
                        </li>
                          <li>
                              <h2>Tagi</h2>
                              <ul>
                                  <li><a href="#">tag1</a></li>
                                  <li><a href="#">tag 13</a></li>
                                  <li><a href="#">tag13</a></li>
                                  <li><a href="#">tag 3 21</a></li>
                                  <li><a href="#">tag  11 12</a></li>
                              </ul>
                          </li>
                      </ul>
					</div>
				</div>
			</div>
			<!-- end div#sidebar -->
			<div style="clear: both; height: 1px"></div>
		</div>
	</div>
	<!-- end div#page -->
</div>
<!-- end div#wrapper -->
<div id="footer-wrapper">
	<div id="footer">
		<p id="legal">Copyright &copy; 2007 Vertebrate . All Rights Reserved. Designed by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
		<p id="links"><a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a></p>
	</div>
</div>
<!-- end div#footer -->
</body>
</html>
