!!! Strict
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}/
    %title Oleśnica z dawnych lat
    %meta{:name => "keywords", :content => "widokówki, oleśnica, wojna, dobrzeń"}/
    %meta{:name => "description", :content => "Kolekcja głównie przedwojennych widokówek dotyczących oleśnicy"}/
    = stylesheet_link_tag 'application', params[:controller]
    = javascript_include_tag 'application', params[:controller]
    = yield :head
    - unless flash.empty?
      :javascript
        $(document).ready(function() {
          $('#message-box').slideDown('slow').delay(5000).slideUp('slow');
        });
  %body
    #admin-area
      = render partial: 'layouts/admin_area'
    #wrapper
      #header.container
        #logo
          %h1
            = link_to 'Oleśnica', root_path
          %p
            Powiew historii ze starych widokówek
        #menu
          = render_navigation
      #page
        #content-full
          - flash.each do |severity, messages|
            %div{id: 'message-box', class: "notification #{severity} hidden"}
              = messages
          = yield
        .clear
    #footer-content
      #footer-bg.container
        #column1
          %h2
            Witam na stronie prezentującej mój zbiór widokówek.
          %p
            Chciałbym upowszechnić te zatrzymane przez ówczesnych fotografów  w kadrach chwile, udostępnić  wiedzę o miejskiej przestrzeni, zaprezentować zmiany jakie dokonały się w ciągu XX wieku w architekturze, w życiu miasta i jego mieszkańców. Ale także dostarczyć wszystkim miłośnikom historii argumentów na to, że warto chronić wszelkie pamiątki pozostawione przez naszych przodków gdyż są one źródłem ogromnej wiedzy. Wiedzy, która przez uważnych obserwatorów tych widokówek może się okazać pomocna w rozwiązywaniu przez każdego z nich zagadek, które chcą rozwikłać.
        #column2
          %h2
            Tagi
          = render :partial => 'index/tag_cloud', :locals => { :tags => @tags }
        #column3
          %h2
            Polecane linki
          %ul
            %li
              = link_to 'Historia Oleśnicy - Marek Nienaltowski', 'http://olesnica.nienaltowski.net'
    #footer
      %p
        &copy; 2010-2011. Design by
        = link_to 'Marcin Pietraszek', 'http://marcin.pietraszek.pl'
        | Layout by
        = link_to 'Free CSS Templates', 'http://www.freecsstemplates.org/'
