<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title><%= t :v_index_page_title %></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <%= stylesheet_link_tag 'layout/core', 'layout/typo' %>
    <%= javascript_include_tag 'jquery-1.4.2.min', 'easySlider1.7', 'application', :cache => true %>
    <%= yield :head %>
  </head>
  <body>
    <div id="wrapper">

      <div id="sitename" class="clear">
        <h1><%= link_to t(:v_page_title), '/' %></h1>
      </div>

      <div id="navbar">	
        <div class="clear">
          <%= render_navigation %>
        </div>
      </div>

      <% if flash[:notice] or flash[:error] %>
        <div id="header" class="clear">
          <div class="header-text">
            <%= content_tag(:h2, flash[:notice]) if flash[:notice] %>
            <%= content_tag(:h2, flash[:error], :class => 'error') if flash[:error] %>
          </div>
        </div>
      <% end %>

      <div class="header-bottom"></div>

      <div id="body-wrapper">

        <div id="body" class="clear">

          <div class="clear">
            <div class="column column-650 column-left">
              <%= yield %>
            </div>
            <div id="sidebar" class="column column-240 column-right">
              <%= render :partial => 'index/sidebar' %>
            </div>
          </div>

        </div>
      </div>

      <div id="footer">
        <p>&copy; 2010. Design by <%= link_to 'Marcin Pietraszek', 'http://marcin.pietraszek.pl' %> &nbsp; | &nbsp; &copy; 2009. Layout by <a href="http://www.spyka.net">Free CSS Templates</a> &amp; <a href="http://www.justfreetemplates.com">Free Web Templates</a></p>
      </div>

    </div>
  </body>
</html>
