!!! Strict
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}/
    %title Oleśnica z dawnych lat
    %meta{:name => "keywords", :content => "widokówki, oleśnica, wojna, dobrzeń"}/
    %meta{:name => "description", :content => "Kolekcja głównie przedwojennych widokówek dotyczących oleśnicy"}/
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = yield :head
  %body
    #admin-area
      = render partial: 'layouts/admin_area'
    #wrapper
      #header.container
        #logo
          %h1
            = link_to 'Oleśnica', root_path
          %p
            Powiew historii ze starych widokówek
        #menu
          = render_navigation
      #page
        #content-full
          = yield
        .clear
    #footer-content
      #footer-bg.container
        #column1
          %h2
            Witam na mojej stronie!
          %p
            In posuere eleifend odio quisque semper augue mattis wisi maecenas ligula. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum. Quisque dictum integer nisl risus, sagittis convallis, rutrum id, congue, and nibh.
        #column2
          %h2
            Tagi
          = render :partial => 'index/tag_cloud', :locals => { :tags => @tags }
        #column3
          %h2
            Polecane linki
          %ul
            %li
              = link_to 'Historia Oleśnicy - Marek Nienaltowski', 'http://olesnica.nienaltowski.net'
    #footer
      %p 
        &copy; 2010-2011. Design by
        = link_to 'Marcin Pietraszek', 'http://marcin.pietraszek.pl'
        | Layout by
        = link_to 'Free CSS Templates', 'http://www.freecsstemplates.org/'
