!!! Strict
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{'http-equiv' => "Content-Type", :content => "text/html; charset=iso-8859-1"}/
    %title
      = t :v_index_page_title
    %meta{:name => "keywords", :content => "widokówki, oleśnica, wojna, dobrzeń"}/
    %meta{:name => "description", :content => "Kolekcja głównie przedwojennych widokówek dotyczących oleśnicy"}/
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    :javascript
      $(document).ready(function () { setUpSlider(); });

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-387611-5']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    = yield :head
  %body
    #wrapper

      #sitename.clear
        %h1
          = link_to t(:v_page_title), root_path

      #navbar
        .clear
          = render_navigation

      #header.clear
        .header-text
          - if flash[:notice] or flash[:error]
            = content_tag(:h2, flash[:notice]) if flash[:notice]
            = content_tag(:h2, flash[:error], :class => 'error') if flash[:error]
          - else
            %h2
              = t :v_index_main_title
            %p
              = t :v_index_famous_quotation
            %p.header-buttons
              = link_to t(:nav_contact), contact_path, :class => 'button pngfix'
              = link_to t(:nav_postcards), postcards_path, :class => 'button color-button pngfix'
              = link_to t(:nav_postcard_sets), postcards_path, :class => 'button color-button pngfix'
        .header-images
          #slider
            = yield :slider

      .header-bottom

      #body-wrapper
        #body.clear

          .clear
            .column.column-650.column-left
              %h2
                = t :v_index_subtitle
              %p
                = t :v_index_description
              %h2
                = t :v_index_last_added_postcard
              %p
                = yield
            #sidebar.column.column-240.column-right
              = render :partial => 'sidebar'

      #footer
        %p 
          &copy; 2010. Design by 
          = link_to 'Marcin Pietraszek', 'http://marcin.pietraszek.pl' 
          &nbsp; | &nbsp; &copy; 2009. Layout by 
          %a{:href => "http://www.spyka.net"}
            Free CSS Templates
          &amp; 
          %a{:href => "http://www.justfreetemplates.com"}
            Free Web Templates
