<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title><%= t :v_index_page_title %></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <%= stylesheet_link_tag 'layout/core', 'layout/typo' %>
    <%= javascript_include_tag 'jquery-1.4.2.min', 'easySlider1.7', 'application' %>
    <script type="text/javascript">
      $(document).ready(function () { setUpSlider(); });

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-387611-5']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <%= yield :head %>
  </head>
  <body>
    <div id="wrapper">

      <div id="sitename" class="clear">
        <h1><%= link_to t(:v_page_title), root_path %></h1>
      </div>

      <div id="navbar">	
        <div class="clear">
          <%= render_navigation %>
        </div>
      </div>

      <div id="header" class="clear">
        <div class="header-text">
          <% if flash[:notice] or flash[:error] %>
            <%= content_tag(:h2, flash[:notice]) if flash[:notice] %>
            <%= content_tag(:h2, flash[:error], :class => 'error') if flash[:error] %>
          <% else %>
            <h2><%= t :v_index_main_title %></h2>
            <p><%= t :v_index_famous_quotation %></p>

            <p class="header-buttons">
              <%= link_to t(:nav_contact), contact_path, :class => 'button pngfix' %>
              <%= link_to t(:nav_postcards), postcards_path, :class => 'button color-button pngfix' %>
            </p>
          <% end %>
        </div>
        <div class="header-images">
          <div id="slider">
            <%= yield :slider %>
          </div>
        </div>
      </div>

      <div class="header-bottom"></div>

      <div id="body-wrapper">
        <div id="body" class="clear">

          <div class="clear">
            <div class="column column-650 column-left">
              <h2><%= t :v_index_subtitle %></h2>
              <p><%= t :v_index_description %></p>
              <h2><%= t :v_index_last_added_postcard %></h2>
              <p>
                <%= yield %>
              </p>
            </div>
            <div id="sidebar" class="column column-240 column-right">
              <%= render :partial => 'sidebar' %>
            </div>
          </div>

        </div>
      </div>

      <div id="footer">
        <p>&copy; 2010. Design by <%= link_to 'Marcin Pietraszek', 'http://marcin.pietraszek.pl' %> &nbsp; | &nbsp; &copy; 2009. Layout by <a href="http://www.spyka.net">Free CSS Templates</a> &amp; <a href="http://www.justfreetemplates.com">Free Web Templates</a></p>
      </div>

    </div>
  </body>
</html>
