<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}/
    %title
      = t :v_index_page_title
    %meta{:name => "keywords", :content => "widokówki, oleśnica, wojna, dobrzeń"}/
    %meta{:name => "description", :content => "Kolekcja głównie przedwojennych widokówek dotyczących oleśnicy"}/
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = yield :head
  %body
    #wrapper
      #header.container
        #logo
          %h1
            = link_to t(:v_page_title), root_path
          %p
            podtytuł
        #menu
          = render_navigation
      #page
        #content
          = yield
          <div style="clear: both;">&nbsp;</div>
        #sidebar
          = render :partial => 'sidebar'
        <div style="clear: both;">&nbsp;</div>
    #footer-content
      #footer-bg.container
        #column1
          <h2>Welcome to my website</h2>
          <p>In posuere eleifend odio quisque semper augue mattis wisi maecenas ligula. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum. Quisque dictum integer nisl risus, sagittis convallis, rutrum id, congue, and nibh.</p>
        #column2
          %p
            &copy; 2010. Design by
            = link_to 'Marcin Pietraszek', 'http://marcin.pietraszek.pl'
            &nbsp; | &nbsp; &copy; 2009. Layout by
            %a{:href => "http://www.freecsstemplates.org/"}
              Free CSS Templates
        #column3
          %h2
            Recommended Links
          %ul
            <li><a href="#">Consectetuer adipiscing elit</a></li>
            <li><a href="#">Metus aliquam pellentesque</a></li>
            <li><a href="#">Suspendisse iaculis mauris</a></li>
            <li><a href="#">Urnanet non molestie semper</a></li>
            <li><a href="#">Proin gravida orci porttitor</a></li>
    #footer
      %p
        Dupa

